.sidenav {
    background-color: rgb(34,34,34,1);
    transition: all 0.5s ease;
    position: fixed;
    z-index: 1;
    top: 60;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
} 
.sidenav-collapsed {
    width: 250px;
}
.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.sidenav-nav .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
}
/* LINKS Y TEXTO**/
.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
}
/* ICONOS**/
.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}
/* ESPACIO ENTRE ICONO Y TEXTO**/
.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
    margin-left: 1.5rem;
}
/* HOVER**/
.sidenav-nav .sidenav-nav-item .sidenav-nav-link:hover {
    background-color: #fff;
    color: #000;
}
/* FLECHITA DE DIRECCION**/
.sidenav-nav .sidenav-nav-item .sidenav-nav-link:hover .menu-collapse-icon {
    color: #000;
}
/* CUADRO ACTIVO**/
.active {
    background-color: #ffffff;
}
/* TEXTO ACTIVO**/
.active .menu-collapse-icon, .active .sidenav-link-icon, .active .sidenav-link-text {
    color: #000;
}
/* TEXTO ACTIVO**/
.active-sublevel {
    color: #f3f3f3 !important;
}
/* FLECHITa*/
.menu-collapse-icon {
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    color: #f3f3f3;
}
/* estilis sub nivel*/
.sublevel-nav {
    list-style: none;
    margin-left: 10px;
}
.sublevel-nav .sublevel-nav-item .sublevel-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #898989;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
}
.sublevel-nav .sublevel-nav-item .sublevel-nav-link .sublevel-link-icon {
    font-size: 4px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}
.sublevel-nav .sublevel-nav-item .sublevel-nav-link .sublevel-link-text {
    margin-left: 0.8rem;
}
.sublevel-nav .sublevel-nav-item .sublevel-nav-link:hover {
    color: #f3f3f3;
}
.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem);
}
.sidenav-nav, .scrollwrap:hover, .scrollwrap:focus {
    visibility: visible;
}
.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}
.scrollwrap_delayed:hover {
    transition: visibility 0.2s 0.2s;
}
.scrollwrap::-webkit-scrollbar {
    width: 10px;
}
.scrollwrap::-webkit-scrollbar-track {
    background: transparent;
}
.scrollwrap::-webkit-scrollbar-thumb {
    background-color: #556268;
    border-radius: 20px;
}
.scrollwrap {
    scrollbar-width: thin;
    scrollbar-color: #556268 transparent;
}
