<!-- Nav tabs -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

    <a class="navbar-brand px-4" href="#">Mikemontania </a>
    <div class="menu-button p-2 me-3 text-light" (click)="MenuToggled()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Menu1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown"> child1 </a></li>
                    <li><a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown"> child2 </a></li>
                    <li><a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown"> child3 </a></li>
                </ul>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Menu2
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown"> child1 </a></li>
                    <li><a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown"> child2 </a></li>
                    <li><a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown"> child3 </a></li>
                </ul>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Menu3
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown"> child1 </a></li>
                    <li><a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown"> child2 </a></li>
                    <li><a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown"> child3 </a></li>
                </ul>

            </li>
        </ul>
    </div>
    <form class="d-flex me-5">
        <input class="form-control me-2" type="search" placeholder="Busqueda" />
        <button class="btn btn-outline-light" type="submit">Buscar</button>
    </form>
    <div class="profile-logo dropdown">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Mike
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#" data-bs-toggle="dropdown"> Login </a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="dropdown"> Perfil </a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="dropdown"> Tema </a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="dropdown"> salir </a></li>

        </ul>
    </div>
</nav>